.WrapperContent {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: center;
}

.WrapperPrevField {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}
